
<div class="example-container mat-elevation-z8">
<mat-table mat-sort [dataSource]="dataSource">
  
  
    <ng-container matColumnDef="system">
        <mat-header-cell *matHeaderCellDef>system</mat-header-cell>
        <mat-cell *matCellDef="let row">
          d
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef>admin</mat-header-cell>
        <mat-cell *matCellDef="let row">
          d
        </mat-cell>
      </ng-container>
    
    <ng-container *ngFor="let col of dynamicColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
          <div><mat-cell >{{row.position}}</mat-cell></div>

          <div><mat-cell >{{row.position}}</mat-cell></div>
      </mat-cell>
    </ng-container>
  
    
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

</mat-table>

<mat-paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
>
</mat-paginator>
</div>